/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap");

/* @import url("https://fonts.googleapis.com/css?family=Gloock:regular&display=swap"); */
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	font-family: "Roboto";
	color: #4c4c4c;
	background: #f5f5f5;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 50px;
}
/*----------------------------------------------------------------- */
.block {
	/* font-size: 30px; */
	/* padding: 30px; */

	/* Определяет цвет фона элемента */
	/* background-color: green; */

	/* Устанавливает фоновое изображение 
	для элемента либо задает градиентную заливку */
	/* background-image: url("../img/01.png"); */
	/* background-image: linear-gradient(to bottom, rgba(236, 232, 157, 1) 0%, rgba(94, 83, 115, 1) 50%, rgba(24, 181, 164, 1) 100%); */

	/* Определяет, как будет повторяться фоновое изображение */
	/* background-repeat: no-repeat; */

	/* Задает начальное положение фонового изображения, где первое значение 
	(проценты, px, слово) определяет расположение 
	по горизонтали, второе - вертикали. */
	/* background-position: 0 0; */

	/* Масштабирует фоновое изображение согласно заданным размерам. 
	В цифрах, где первое значение (проценты, px) определяет ширину, 
	второе - высоту. Либо специальным значением. */
	/* background-size: auto auto; */

	/* Устанавливает, будет ли прокручиваться фоновое изображение вместе с содержимым элемента. */
	/* background-attachment: scroll; */

	/* Универсальное свойство */
	/* background: green url("../img/01.png") 50% / cover no-repeat fixed; */

	/* background: url("../img/image_1.jpg") top right / 100px no-repeat, url("../img/icon.png") 0 33px no-repeat, green linear-gradient(to bottom, rgba(236, 232, 157, 1) 0%, rgba(94, 83, 115, 1) 50%, rgba(24, 181, 164, 1) 100%) 50% / cover no-repeat; */
}
/**------------------------------------------------------------------*/
/* ul li {
	margin: 0px 0px 20px 0px;
	font-size: 12px;
	min-height: 27px;
	background: url('../img/icon.png') top right no-repeat;
	padding: 7px 30px 0px 10px;
} */
/*------------------------------------------------------------------*/
.whoweare {
	padding: 0px 0px 170px 0px;
}
.whoweare__container {
	max-width: 1020px;
	margin: 0px auto;
	background-color: #fff;
	border: 1px solid transparent;
	padding: 100px 87px 0px 87px;
	background: #fff url('../img/bg.png') 100% 0 no-repeat;
}
.whoweare__subtitle {
	font-weight: 700;
	font-size: 12px;
	line-height: 27px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	margin: 0px 0px 28px 0px;
	background: url('../img/icon.png ') 0 0 no-repeat;
	padding: 0px 0px 0px 33px;

}
.whoweare__title {
	color: #02133c;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	max-width: 583px;
	margin: 0px 0px 33px 0px;
}
.whoweare__text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	margin: 0px 0px 52px 0px;
}
.whoweare__image {
	margin: 0px 0px -120px 0px;
}
.whoweare__image img {
	max-width: 100%;
}