/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap&subset=cyrillic-ext");

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	/* font-family: "Gilroy", sans-serif; */
	line-height: 1;
}
/* ------------------------------ */

/** Берем шрифты с собой!!! */

/** Два варианта подключения семейств шрифта */

/* (1) Удаленное подключение. Подключение из внешнего источника (по ссылке) */
/* (2) Локальное подключение. Подключение локальных файлов */

/** --------------- */

/** Свойства шрифта */

/* font-family: "Имя шрифта", "Имя шрифта", ..., тип шрифта */
/*
Устанавливает семейство шрифта
Типы шрифта:
serif — шрифты с засечками (антиквенные), типа Times;
sans-serif — рубленные шрифты (шрифты без засечек или гротески), типичный представитель — Arial;
cursive — курсивные шрифты;
fantasy — декоративные шрифты;
monospace — моноширинные шрифты, ширина каждого символа в таком семействе одинакова (шрифт Courier).
*/
.text {
	font-family: "Poppins", sans-serif;
}

/*
font-size: размер [px,%,em,rem]
Определяет размер шрифта элемента.
*/
h1 {
	font-size: 50px;
}
.text {
	font-size: 20px;
}

/*
font-style:
Определяет начертание шрифта — обычное, курсивное или наклонное.
normal - Обычное начертание текста.
italic - Курсивное начертание. 
oblique - Наклонное начертание. Курсив и наклонный шрифт при всей их похожести не одно и то же. Курсив это специальный шрифт имитирующий рукописный, наклонный же образуется путем наклона обычных знаков вправо. 
*/

.text {
	/* font-style: italic; */
}

/*
font-weight:
Устанавливает насыщенность шрифта.
100 - thin
300 - lite
400 - normal
500 - medium
600 - semibold
700 - bold
900 - black
*/

.text {
	/* font-weight: 700; */
}

/** Свойства текста */

/*
color
Определяет цвет текста. Для задания цветов обычно используются 
числа в шестнадцатеричном коде, 
либо с помощью RGB.
*/

.text {
	/* color: rgb(162, 166, 176); */
	/* color: #a2a6b0; */
}

/*
text-align
Определяет горизонтальное выравнивание текста и строчных объектов в пределах элемента. 
center - Выравнивание текста по центру.
justify - Выравнивание по ширине, что означает одновременное выравнивание по левому и правому краю. Чтобы произвести это действие браузер в этом случае добавляет пробелы между словами.
left - Выравнивание текста по левому краю. 
right - Выравнивание текста по правому краю.
*/

.text {
	/* text-align: center; */
}
.image {
}

/*
text-decoration
Добавляет оформление текста в виде его подчеркивания, перечеркивания, линии над текстом и мигания. 
Одновременно можно применить более одного стиля, перечисляя значения через пробел. Это свойство наследуется и может принимать значения:
line-through - Создает перечеркнутый текст.
overline - Линия проходит над текстом.
underline - Устанавливает подчеркнутый текст. 
none - Отменяет все эффекты, в том числе и подчеркивания у ссылок, которое задано по умолчанию.
*/

.text {
	text-decoration: none;
}
.text span {
	text-decoration: line-through;
}

/*
text-shadow: горизонтальное_смещение вертикальное_смещение размер цвет;
Добавляет тень к тексту.
Прмер text-shadow: 1px 1px 1px #000;
*/

.text {
	/* text-shadow: 1px 1px 1px #000; */
	/* text-shadow: -5px -5px 1px #000; */
}

/*
text-transform
Управляет преобразованием текста в заглавные или прописные символы.
capitalize  - Первый символ каждого слова в предложении будет заглавным. Остальные символы свой вид не меняют.
lowercase - Все символы текста становятся строчными (нижний регистр). 
uppercase - Все символы текста становятся прописными (верхний регистр).
none - Не меняет регистр символов.
*/
.text {
	text-transform: none;
}

/*
line-height
Устанавливает межстрочный интервал текста. Широко применяется при верстке текста.
*/

.text {
	line-height: 150%;
}

/*
letter-spacing
Определяет интервал между символами (буквами). Используется когда нужно разрядить текст.
*/
.text {
	letter-spacing: 1px;
}

/*
word-spacing
Определяет интервал между словами. Используется когда нужно разрядить текст.
*/
.text {
	word-spacing: 10px;
}

/*
text-indent
Устанавливает величину отступа первой строки блока текста. 
При меняется, если нам нужно создать что-то типа красной строки.
*/

.text {
	text-indent: 50px;
}

/*
white-space
Управляет свойствами пробелов между словами. Пименяется в основном со значением 
nowrap которое запрещает перенос строки. 
Таким образом весь текст отображается в одну строку и не ломается. 
Значение normal вернет все как было.
*/

.text {
	/* white-space: nowrap; */
}
