/** Обнуление стилей */
*,
*::backdrop,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
/** ------------------------------ */

/** Анатомия */
/* 
cелектор {
	css параметр;
	css параметр;
	...
	css параметр;
}
*/
/* CSS параметр */
/* 
css свойство : значение свойства;
*/
/* Селекторы */
/* Селектор тега */
/* 
имя тега{
	css параметр;
	css параметр;
	...
	css параметр;
}
*/
/**  Пример селектора тега */

p {
	/* Обратились ко ВСЕМ тегам Р на странице */
	/*color: aqua;*/
}

span {
	/* Обратились ко ВСЕМ тегам Р на странице */
	/*color: aqua;*/
}
/** Селектор класса, начинается с ТОЧКИ */
/* 
.имя класса{
	css параметр;
	css параметр;
	...
	css параметр;
}
 */

.text{
	/* Обратились к объектам с классом text на странице */
	/* color: green; */
}
.paragraph{
	/* Обратились к объектам с классом text на странице */
	/* color: red; */
}

/**Селектор ID*/
/* 
#имя id{
	css параметр;
	css параметр;
	...
	css параметр;
}
*/
#menu{
	/* color: red; */
}

/** Приоритет */

/** 1. Порядок записи, при равнозначных селекторах */

p {
	/* Обратились ко ВСЕМ тегам Р на странице */
	/* color: red; */
}

/* Этот приоритетней */
p {
	/* Обратились ко ВСЕМ тегам Р на странице */
/* color: yellowgreen; */
}

.text{
	/* Обратились к объектам с классом text на странице */
	/* color: green; */
}
/* Этот приоритетней */
.paragraph{
	/* Обратились к объектам с классом text на странице */
	/* color: red; */
}

/** УТОЧНЕНИЕ */

/** 2. Селектор класса приоритетней чем селектор тега */

.text{
	/* Обратились к объектам с классом text на странице */
	/* color: green; */
}
p {
	/* Обратились ко ВСЕМ тегам Р на странице */
	/* color: red; */
}

/** Селектор ID - самый приоритетный */

#main-text {
	/* Обратились к объекту с ID main-text на странице */
	/* color: blue; */
}
.text{
	/* Обратились к объектам с классом text на странице */
	/* color: green; */
}
p {
	/* Обратились ко ВСЕМ тегам Р на странице */
	/* color: red; */
}

/** 3. Уточняем обращение */

/** Комбинация селекторов */

span.text.blue-text{
	/* Обратились ко ВСЕМ тегам SPAN с классами и text и blue-text на странице */
	/* color: red; */
}
.text{
	/* Обратились к объектам с классом text на странице */
	/* color: green; */
}

span.blue-text{
	/* Обратились ко ВСЕМ тегам SPAN с классом text на странице */
	/* color: blue; */
}

/** Вложенность и приоритетность */

/** Приоритетность 1 */

div p {
/* color: blue; */
}

.content .content__item {
	/* Обратились к объектам с классом c .content__item но только к тем
	которые находятся внутри всех объектов с классами .content на странице
	*/
/* color: yellowgreen; */
}

.content__item {
	/* Обратились к объектам с классом .content__item*/
	/* color: violet; */
}

/** Инлайновый стиль будет иметь самый большой приоритет */

/* Прочие селекторы */

/** "*" -Обращение ко всем объектам */

/* .content * 
{
	color: yellow;
} */

/* * Обращение к нескольким объектам */

.content p,
.content span {
	/* Обратились к тегам Р но только к тем
	котрые находятся внутри любых объектов с классом .content на странице
	И к тегам SPAN но только к тем 
	котрые находятся внутри любых объектов с классом .content на странице */
	/* color: red; */
}

.content .content__item,
.content .content__text {
	/* Обратились к тегам .content__item но только к тем
	котрые находятся внутри любых объектов с классом .content на странице
	И к тегам .content__text но только к тем 
	котрые находятся внутри любых объектов с классом .content на странице */
	/* color: red; */
}

.content__item,
.content__text,
footer {
	/* color: yellowgreen; */
}

/** Только первый уровень вложености*/

.content span {
	/* Обратились ко всем тегам SPAN но только к тем
	котрые находятся внутри любых объектов с классом .content на странице. */
	/* color: red; */
}
.content > span {
	/* Обратились ко всем тегам SPAN ПЕРВОГО УРОВНЯ но только к тем
	котрые находятся внутри любых объектов с классом .content на странице. */
	/* color: red; */
}

/** Обращаемся только к первому следующему объекту того же уровня */
 
.content__text + * {
/* color: yellowgreen; */
}

/** Обращаемся ко всем следующим объектам того же уровня */

.content__text ~ div {
	color: yellowgreen;
	}

	.content{
	}
	.content__item {
	}
	.content__text{
	}